<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Admin | FNBR HUB</title>
    <link rel="stylesheet" href="/assets/css/admin/admin.css">
    <link rel="stylesheet" href="/assets/css/admin/maps.css">
</head>
<body>
    
    <%- include('../partials/modals') %>

    <div class="admin-header">
        <div class="container">
            <div class="header-container">
                <div class="heading blue">
                    <div class="heading-inner">
                        <h1>FNBR Panel</h1>
                    </div>
                </div>
                <div class="nav-links">
                    <a href="/maps/admin"><i class="fas fa-home"></i></a>
                    <a onclick="openAddModal()"><i class="fas fa-plus"></i> Add Map</a>
                    <a href="/maps/admin/maps"><i class="fas fa-images"></i> Maps</a>
                    <a href="/maps/admin/submissions"><i class="fas fa-stream"></i> Map Submissions</a>
                    <a href="/maps/admin/featured"><i class="fas fa-landmark"></i> Featured Maps</a>
                </div>
            </div>
        </div>
    </div>

    <% if(noMaps == false) { %>
    <div class="table">
        <div class="container">
            <h1>Published Maps</h1>
            <div class="table-bg">
            <table>
                <colgroup>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col class="actions">
                </colgroup>
                <thead>
                  <tr>
                      <th>Map Name</th>
                      <th>Map Code</th>
                      <th>Map Type</th>
                      <th>Creator</th>
                      <th>Actions</th>
                  </tr>
                </thead>
        
                <tbody>
                <% for(var map of maps) { %>
                  <tr>
                    <td><%= map.name %></td>
                    <td><%= map.code %></td>
                    <td><%= map.type %></td>
                    <td><%= map.creator %></td>
                    <td>
                        <a href="/maps/id/<%= map.code %>" class="view"><i class="fas fa-external-link-alt"></i> View</a>
                        <a class="edit editBtn" id="editBtn" data-code="<%= map.code %>"><i class="fas fa-edit"></i> Edit</a>
                        <a class="remove" id="removeBtn" data-code="<%= map.code %>"><i class="fas fa-trash"></i> Remove</a>
                    </td>
                  </tr>
                    <div class="modal" id="editModal" data-code="<%= map.code %>">
                        <div class="modal-content">
                            <h1>Edit Map</h1>
                            <form action="/maps/admin/edit" method="POST" onsubmit="return mapValidation()">
                                <div class="input-group">
                                    <input type="text" onkeyup="validateName()" name="name" placeholder="Map Name*" value="<%= map.name %>">
                                </div>
                                <div class="input-group">
                                    <label for="code">MAP CODE</label>
                                    <input type="text" onkeyup="validateCode()" name="code" placeholder="Map Code*" value="<%= map.code %>">    
                                </div>
                                <div class="input-group">
                                    <label for="type">MAP TYPE</label>
                                    <input type="text" onkeyup="validateType()" name="type" placeholder="Map Type*" value="<%= map.type %>">    
                                </div>
                                <div class="input-group">
                                    <label for="creator">MAP CREATOR</label>
                                    <input type="text" onkeyup="validateCreator()" name="creator" placeholder="Map Creator*" value="<%= map.creator %>">
                                </div>
                                <div class="input-group">
                                    <label for="description">MAP DESCRIPTION</label>
                                    <input type="text" onkeyup="validateDescription()" name="description" placeholder="Description" value="<%= map.description %>">
                                </div>
                                <div class="input-group">
                                    <label for="youtubeLink">MAP LINK</label>
                                    <input type="text" onkeyup="validateYoutubeLink()" name="youtubeLink" placeholder="YouTube Link" value="<%= map.youtubeLink %>">
                                </div>
                                <button type="submit" class="edit">
                                    <i class="fas fa-save"></i>
                                    Save
                                </button>
                                <button class="cancel" id="cancelBtn" data-code="<%= map.code %>">Cancel</button>
                            </form>
                        </div>
                    </div>
                    <div class="modal" id="removeModal" data-code="<%= map.code %>">
                        <div class="modal-content">
                            <h1>Remove Map</h1>
                            <p>Are you sure you want to remove <%= map.name %> Map by "<%= map.creator %>"?</p>
                            <form action="/maps/admin/delete" method="POST">
                                <input type="hidden" name="code" value="<%= map.code %>">
                                <button type="submit" class="remove">
                                    <i class="fas fa-times"></i>
                                    Remove
                                </button>
                            </form>
                            <button class="cancel" id="cancelBtn" data-code="<%= map.code %>">Cancel</button>
                        </div>
                    </div>
                <% } %>
                </tbody>
            </table>
            </div>
        </div>
    </div>
    <% } else { %>
        <div class="container">
            <div class="no-data primary">
                <div class="content">
                    <h1>Add your first map</h1>
                    <a onclick="openAddModal()"><i class="fas fa-plus"></i> Add Map</a>    
                </div>
            </div>   
        </div>
    <% } %>
</body>
</html>
<script src="/assets/js/modal.js"></script>
<script src="/assets/js/dropzone.js"></script>
<script src="/assets/js/deleteMap.js"></script>
<script src="/assets/js/validation.js"></script>