<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../maps/partials/head') %>
    <title><%= title %> | FNBR HUB</title>
    <link rel="stylesheet" href="/assets/css/index.css">
</head>
<body>
    <%- include('../maps/partials/header') %>

    <!-- <section id="announcement">
        <div class="container">
            <a class="link-wrapper">
                <div class="announcement">

                </div>
            </a>    
        </div>
    </section> -->

    <!-- <div class="featured-maps">
        <div class="container">
            <div class="featured">
            <h1 class="title">Featured Maps</h1>
            <div class="flex-featured">
                <div class="featured-map">
                    <div class="featured-wrapper">
                        <img src="/images/4692-4928-5967.jpg" alt=""> 
                        <h1>Forbidden City</h1>
                        <h5>By: ShrideFN</h5>   
                    </div>
                </div>
                <div class="featured-map">
                    <div class="featured-wrapper">
                        <img src="/images/4692-4928-5967.jpg" alt=""> 
                        <h1>Forbidden City</h1>
                        <h5>By: ShrideFN</h5>   
                    </div>
                </div>
                <div class="featured-map">
                    <div class="featured-wrapper">
                        <img src="/images/4692-4928-5967.jpg" alt=""> 
                        <h1>Forbidden City</h1>
                        <h5>By: ShrideFN</h5>   
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div> -->

    <section id="search">
        <div class="container">
            <div class="search">
                <input type="text" name="search" id="search" placeholder="Search maps...">
            </div>
        </div>
    </section>

    <section id="maps">
        <div class="container">
            <div class="maps">
            <h1 class="title"><%= title %></h1>
            <div class="map-grid" id="map-grid">
                <% for(var map of maps) { %>
                <div class="map-item">
                    <a href="/maps/id/<%= map.code %>" class="link-wrapper">
                        <div class="item-wrapper">
                            <img class="lazyload" data-src="https://assets.fnbrhub.com/<%= map.image1 %>">
                            <h1><%= map.name %></h1>
                            <h5>By: <%= map.creator %></h5>
                        </div>
                    </a>
                </div>
                <% } %>
            </div>
            </div>
        </div>
    </section>
</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
<script> lazyload(); </script>