<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../maps/partials/head') %>
    <title><%= title %> | FNBR HUB</title>
    <link rel="stylesheet" href="/assets/css/index.css">
</head>
<body>
    <%- include('../maps/partials/header') %>

    <section id="maps">
        <div class="container">
            <div class="maps">
            <h1 class="title"><%= title %></h1>
            <div class="map-grid" id="map-grid">
                <% for(var map of maps) { %>
                <div class="map-item">
                    <a href="/maps/id/<%= map.code %>" class="link-wrapper">
                        <div class="item-wrapper">
                            <img class="lazyload" data-src="https://assets.fnbrhub.com/<%= map.image1 %>">
                            <h1><%= map.name %></h1>
                            <h5>By: <%= map.creator %></h5>
                        </div>
                    </a>
                </div>
                <% } %>
            </div>
            </div>
        </div>
    </section>
</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
<script> lazyload(); </script>