<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../maps/partials/head') %>
    <title><%= map.name %> | FNBR HUB</title>
    <link rel="stylesheet" href="/assets/css/map.css">
</head>
<body>
    <%- include('../maps/partials/header') %>

    <div class="container">
        <div class="maps">
            <div class="images">
                <div class="swiper-container gallery-top">
                    <div class="swiper-wrapper">
                        <% if(map.youtubeLink) { %>
                            <iframe class="swiper-slide" src="https://www.youtube.com/embed/<%= map.youtubeLink %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <% } %>
                        <% if(map.image1) { %>
                            <img class="swiper-slide lazy" src="https:/assets.fnbrhub.com/<%= map.image1 %>" data-src="https:/assets.fnbrhub.com/<%= map.image1 %>">
                        <% } %>
                        <% if(map.image2) { %>
                            <img class="swiper-slide lazy" src="https:/assets.fnbrhub.com/<%= map.image2 %>" data-src="https:/assets.fnbrhub.com/<%= map.image2 %>">
                        <% } %>
                        <% if(map.image3) { %>
                            <img class="swiper-slide lazy" src="https:/assets.fnbrhub.com/<%= map.image3 %>" data-src="https:/assets.fnbrhub.com/<%= map.image3 %>">
                        <% } %>
                    </div>
                </div>
                <div class="swiper-container gallery-thumbs">
                    <div class="swiper-wrapper">
                        <% if(map.youtubeLink) { %>
                            <img class="swiper-slide" src="https://i.ytimg.com/vi/<%= map.youtubeLink %>/sddefault.jpg">
                        <% } %>
                        <% if(map.image1) { %>
                            <img class="swiper-slide lazy" src="https:/assets.fnbrhub.com/<%= map.image1 %>" data-src="https:/assets.fnbrhub.com/<%= map.image1 %>">
                        <% } %>
                        <% if(map.image2) { %>
                            <img class="swiper-slide lazy" src="https:/assets.fnbrhub.com/<%= map.image2 %>" data-src="https:/assets.fnbrhub.com/<%= map.image2 %>">
                        <% } %>
                        <% if(map.image3) { %>
                            <img class="swiper-slide lazy" src="https:/assets.fnbrhub.com/<%= map.image3 %>" data-src="https:/assets.fnbrhub.com/<%= map.image3 %>">
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="info">
                <div class="map-info">
                    <h1><%= map.name %></h1>
                    <h5>By <%= map.creator %></h5>
                    <a class="type-btn" href="/maps/<%= map.type %>"><%= map.type %></a>
                    <p><%= map.description %></p>
                    <input class="code-btn" id="code-btn" value="<%= map.code %>" onclick="copy()">
                </div>
            </div>
        </div>
        
    </div>

</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
<script> lazyload(); </script>
<script src="/assets/js/copy.js"></script>
<script>
    var galleryThumbs = new Swiper('.gallery-thumbs', {
      spaceBetween: 10,
      slidesPerView: 4,
      freeMode: true,
      watchSlidesVisibility: true,
      watchSlidesProgress: true,
    });
    var galleryTop = new Swiper('.gallery-top', {
      spaceBetween: 10,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      thumbs: {
        swiper: galleryThumbs
      }
    });
</script>