<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../maps/partials/head') %>
    <title><%= map.name %> | FNBR HUB</title>
    <link rel="stylesheet" href="/assets/css/map.css">
</head>
<body>
    <%- include('../maps/partials/header') %>

    <section id="map">
        <div class="container">
            <div class="flex">
                <div class="images">
                    <div class="main-img">
                        <% if(map.youtubeLink) { %>
                            <div class="yt-container">
                                <iframe class="video" style="border-radius: 10px;" src="https://www.youtube.com/embed/<%= map.youtubeLink %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        <% } else { %>
                            <img src="https://assets.fnbrhub.com/<%= map.image1 %>">
                        <% } %>
                    </div>
                    <div class="sub-imgs"> 
                        <% if(map.image2) { %>
                            <img src="https://assets.fnbrhub.com/<%= map.image2 %>" width="200">
                        <% } %>
                        <% if(map.image3) { %>
                            <img src="https://assets.fnbrhub.com/<%= map.image3 %>" width="200">
                        <% } %>
                        <% if(map.image4) { %>
                            <img src="https://assets.fnbrhub.com/<%= map.image4 %>" width="200">
                        <% } %>
                    </div>
                    
                </div>
                <div class="info">
                    <div class="info-panel">
                        <h1 class="title"><%= map.name %></h1>
                        <h5>By <%= map.creator %></h5>
                        <a class="type-btn primary"><%= map.type %></a>
                        <p class="description"><%= map.description %></p>
                        <input class="code-btn primary" id="code-btn" value="<%= map.code %>" onclick="copy()"></input>
                    </div>
                    <div class="creator-panel">
                        <div class="header">
                            <img src="/assets/img/user_Shride.jpg" width="50">
                            <h1><%= map.creator %></h1>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, magni!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="similar">
        <div class="container">
            <div class="similar-maps">
                <h1 class="title">Similar Maps</h1>
                <div class="flex">
                    <div class="map-item">
                        <img src="/images/4692-4928-5967.jpg" width="350">
                        <h1 class="map-title">Similar Map</h1>
                    </div>
                    <div class="map-item">
                        <img src="/images/4692-4928-5967.jpg" width="350">
                        <h1 class="map-title">Similar Map</h1>
                    </div>
                    <div class="map-item">
                        <img src="/images/4692-4928-5967.jpg" width="350">
                        <h1 class="map-title">Similar Map</h1>
                    </div>
                    <div class="map-item">
                        <img src="/images/4692-4928-5967.jpg" width="350">
                        <h1 class="map-title">Similar Map</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>
<script src="/assets/js/copy.js"></script>